<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBar - Tela de Registro de Conta</title>
    <link rel="stylesheet" href="/css/novoOuAlteraObjetoEstilo.css">
</head>
<script th:src="@{/js/mascaras.js}"></script>
<script th:src="@{/js/mensagens.js}"></script>
<body>
    <div class="page-centralizada">
        <div class="container">
        <h2>Tela de Registro de Conta</h2>
            <div id="mensagem"
                th:if="${mensagem}"
                th:data-texto="${mensagem}"
                th:data-tipo="${tipo}">
            </div>
            <form th:action="@{/contas/registrar}" th:object="${contaDto}" method="POST">
            
            <div class="form-group">
                <label for="cpf">CPF <span class="required">*</span></label>
                <input type="text" id="cpf" th:field="*{cpfCliente}" placeholder="000.000.000-00" maxlength="14" required>
            </div>

            <div class="form-group">
                <label for="nome">Nome <span class="required">*</span></label>
                <input type="text" id="nome" th:field="*{nomeCliente}" required maxlength="255">
            </div>

            <div class="form-group">
                <label for="celular">Celular <span class="required">*</span></label>
                <input type="text" id="celular" th:field="*{celularCliente}" required>
            </div>
            
            <div class="form-group">
                <label for="sexo">Sexo <span class="required">*</span></label>
                <select id="sexo" th:field="*{sexoCliente}" required>
                    <option value="">[Selecione]</option>
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMININO">Feminino</option>
                </select>
            </div>

            <div class="form-group">
                <label for="numeroConta">Número Conta <span class="required">*</span></label>
                <input type="number" id="numeroConta" th:field="*{numeroConta}" required>
            </div>

            <div class="form-group">
                <label for="CodigoGarcom">Garçom <span class="required">*</span></label>
                <input type="number" id="garcom" th:field="*{codigoGarcom}" required>
            </div>

            <div class="form-group">
                <label for="senha">Senha <span class="required">*</span></label>
                <input type="password" id="senha" th:field="*{senha}" required placeholder="9999">
            </div>

            <div class="buttons-bar">
                <button type="submit" class="btn-salvar">&lt; Salvar &gt;</button>
                <a th:href="@{/contas}" style="display: block; margin-top: 15px; text-decoration: underline;">Voltar</a>
            </div>
            </form>
        </div>
    </div>


</body>
</html>